/*Sanskrit*/
@font-face {
    font-family: "Vesper Libre";
    src: url(../rsrcs/vesper-libre.ttf);
}

/*Tamil*/
@font-face {
    font-family: "Arima Madurai";
    src: url(../rsrcs/arima-madurai.ttf);
}


span:lang(sa), .content {
		font-family: 'Vesper Libre', serif;
}

span:lang(ta) {
		font-family: 'Arima Madurai', cursive;
		font-size: 12px;
		font-weight: bold;
}
